<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gdu.app14.dao.MemberMapper">  <!-- namespace가 가지는 의미 : 매퍼의 경로 -->
  
  <insert id="insertMember" parameterType="MemberDto">
    INSERT INTO MEMBER_T (
        MEMBER_NO
      , ID
      , NAME
      , GENDER
      , ADDRESS
    ) VALUES (
        MEMBER_SEQ.NEXTVAL
      , #{id}
      , #{name}
      , #{gender}
      , #{address}
    )
  </insert>
  
  <select id="getMemberList" parameterType="Map" resultType="MemberDto"> <!--parameterType은 1과 2를 가지고 있어야 하고, 그 역할을 Map에게 맡긴다. --> -->
    SELECT MEMBER_NO, ID, NAME, GENDER, ADDRESS               <!-- MemberDto가 5개의 select 값을 반환할 수 있다. -->
      FROM (SELECT ROW_NUMBER() OVER(ORDER BY MEMBER_NO DESC) AS RN, MEMBER_NO, ID, NAME, GENDER, ADDRESS
              FROM MEMBER_T)
     WHERE RN BETWEEN #{begin} AND #{end}
  </select>

  <select id="getMemberCount" resultType="int">
    SELECT COUNT(*)
      FROM MEMBER_T
  </select>
  
  <select id="getMember" parameterType="int" resultType="MemberDto">
     SELECT MEMBER_NO, ID, NAME, GENDER, ADDRESS
       FROM MEMBER_T
      WHERE MEMBER_NO = #{memberNo}
  </select>
  
  <update id="updateMember" parameterType="MemberDto">
    UPDATE MEMBER_T
       SET NAME = #{name}
         , GENDER = #{gender}
         , ADDRESS = #{address}
     WHERE MEMBER_NO = #{memberNo}
  </update>
  
  <delete id="deleteMember" parameterType="int">
    DELETE
      FROM MEMBER_T
     WHERE MEMBER_NO = #{memberNo}
  </delete>
  
   <delete id="deleteMembers" parameterType="List">
    DELETE
      FROM MEMBER_T
      <!-- WHERE MEMBER_NO IN(4,3) 을 아래 동적 태그로 변환시 ↓   -->
    <where> <!-- WHERE 구문을 태그로 대체했다. = 동적태그 -->
      MEMBER_NO   <!-- MEMBER_NO 는 대체가 없어서 그냥 넣었다. -->
      <foreach collection="list" item="memberNo" open="IN(" close=")" separator=",">  <!-- open : 열 때 . close : 닫을 때 . separator요소 사이에 넣을 것 ',' -->
        #{memberNo}
      </foreach>
    </where>
  </delete>


</mapper>
